CentralWidget {
    background-color: rgb(54, 122, 239);
    border-radius: 10px;
}

QLabel {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI';
}

QPushButton {
    background-color: #2B5DD1;
    color: #FFFFFF;
    border-style: outset;
    padding: 2px;
    font: bold 20px;
    border-width: 6px;
    border-radius: 10px;
    border-color: #2752B8;
}

QPushButton:hover {
    background-color: rgb(144, 238, 233);
    color: #000000;
}

#locationLabel, #feelsLikeLabel, #descriptionLabel {
    font-size: 12pt;
}

#locationLabel {
    font-size: 16pt;
}

#temperatureLabel {
    font-size: 25pt;
}

#appNameLabel, #appDescriptionLabel, #lastUpdatedLabel {
    font-size: 8pt;
}
